.sider {
  z-index: 0;
  position: absolute;

  // width: 199px;
  width: 0;
  height: 100%;
  background-position: 50%;
  background-size: cover;

  // background-color: #001529;
}

.drawer {
  > section {
    padding: 0;
    overflow: hidden;
  }
}
